<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="ContentType" value="application/x-www-form-urlencoded; charset=UTF-8" />

    <add key="MagicCodeType" value="magicCode"/>
    <add key="MagicCodeValue" value="******"/>
    <add key="MagicCodePath" value="/"/>
    <add key="MagicCodeDomain" value=".baidu.com"/>

    <add key="Url" value="http://www.baidu.com"/>


    <add key="mod" value="OnSubmitWork"/>
  </appSettings>
</configuration>
