<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="ContentType" value="application/x-www-form-urlencoded; charset=UTF-8" />
    <add key="MagicCodeType" value="bbscode" />
    <add key="MagicCodeValue" value="****" />
    <add key="MagicCodePath" value="/" />
    <add key="MagicCodeDomain" value=".****.cn" />
    <add key="Url" value="http://home.****.cn/TCWorkSummary/PublishWorkSummary.aspx" />
    <add key="mod" value="OnSubmitWork" />
    <add key="SMTPServer" value="smtp.yeah.net" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUser" value="*****" />
    <add key="SMTPPwd" value="****" />
    <add key="FromAddress" value="****@yeah.net" />
    <add key="ToAddress" value="****@163.com" />
    <add key="LogLevel" value="Debug" />
    <add key="Time" value="2016-06-20" />
    <add key="Day" value="False" />
    <add key="Week" value="False" />
    <add key="Month" value="False" />
    <add key="Year" value="False" />
  </appSettings>
</configuration>
